.vs
.idea
*.pdb
*.cso
*.ilk
*.log
*.recipe
*.tlog
*.idb
*.iobj
*.ipdb
*.etl
*.scor
*.scor.gbl
*.scor.incl
*.scor.t0000
Archive/*
Workspace/Renders/*.bmp
PlanetSandbox-cppcheck-build-dir/*
Engine/x64
Editor/x64
EngineTests/x64
x64/Debug
x64/Release
Workspace/Images/*